$base-color: orangered;
$hl-color: rebeccapurple;

body {
  background: white url(../images/taken.png) top center no-repeat;
  color: $base-color;
  font-size: 16px;
}

strong {
  color: $hl-color;
}

:local(.hero-unit) {
  width: 100%;
  font-size: 2em;
  text-align: center;
}
