body
  background white
  color green
  font-size 16px

#result
  margin 1em 0
  border 0.2em solid silver
  padding 0.5em
  background #eee
  white-space pre
  font-family "Operator Mono SSm", "Source Code Pro", Menlo, Monaco, "DejaVu
  Sans Mono", monospace
